* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.logo {
    width: 75px;
    margin: auto;
}

.logo img {
    border-radius: 50%;
}

header {
    text-align: center;
    background-color: aquamarine;
}

header.nav.a {
    color:darkorchid;
    text-decoration: none;
}

#banner-box {
    position: relative;

}



#banner-box h1 {
    position: absolute;
    top: 10%;
    color: aquamarine;
    width: 100%;
    text-align: center;
    font-size: 4em;
}

#banner-box p {
    position: absolute;
    top: 50%;
    color: aquamarine;
    width: 100%;
    text-align: center;
    font-size: 2em;
}


#product-gallery {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    gap: 1em;
    justify-content: center;
}

footer {
    background-color: darkorchid;
    color: aquamarine;
    display: flex;
    justify-content: center;
    padding: 2em 0;
    gap: 2em;
}

#footer-logos {
    display: flex;
}