@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    background-color: #BAFFDF;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

h2 {
    margin: 0;
}

h4 {
    color: #7371FC;
}

nav a,
#hero-msg h1,
#hero-msg h4,
.button-box,
main section {
    text-align: center;
}

nav a,
#hero-msg h4,
.button-box a, 
.rivers-card h2,
.camping-card h2, 
.rapids-card h2, 
.msg, 
footer {
    font-family: Montserrat, Helvetica, sans-serif;
}

header {
    background-color: #34334F;
    display: grid;
    grid-template-columns: 150px auto;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 100px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #7371FC;
    text-decoration: none;
    padding: 35px;
    text-align: center;
}

nav a:hover {
    background-color: #7371FC;
    color: #BAFFDF;
}

#hero { 
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; 
    margin-top: -100px; 
} 

#hero-box { 
    grid-column: 1/4; 
    grid-row: 1/3; 
    z-index: -1; 
} 

#hero-image { 
    width: 100%;
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%); 
} 

#hero-msg { 
    grid-column: 2/3; 
    grid-row: 1/2; 
    margin-top: 100px; 
} 

#hero-msg h4 { 
    color: white; 
}

.home-title {
    color: #7371FC;
    font-family: "Ubuntu";
    font-size: 2em;
    margin-top: 10px;
}

.book, .join {
    background-color: #BAFFDF;
    color: #7371FC;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #7371FC;
    color: #BAFFDF;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #7371FC;
    box-sizing: border-box;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 175px;
    height: 200px;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.card-img, .mountains {
    width: 100%;
}

.icon {
    width: 80px;
    height: 80px;
    padding-top: 10px;
}

#background {
    height: 725px;
    background-color: #39375B;
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #2F2E42;
}

.msg {
    background-color: #BAFFDF;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #2F2E42;
}

.msg h2 {
    color: #7371FC;
    font-family: "Ubuntu";
}

.msg p {
    color: #7371FC;
    font-size: 0.8em;
    padding-bottom: 15px;
}

footer {
    background-color: #7371FC;
    color: #BAFFDF;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 1.2em;
}

footer a {
    color: #BAFFDF;
    text-decoration: none;
}

footer a:hover {
    background-color: #BAFFDF;
    color: #7371FC;
    text-decoration: none;
}

.social {
    text-align: center;
}

.social_icon {
    width: 40px;
    height: 40px;
    padding-top: 15px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}