body {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #d3d3d3, #001f3f);
  background-repeat: no-repeat; /* Just in case */
  background-attachment: fixed;
}

.container {
  text-align: center;
}

.header {
  padding: 20px 0;
}

.header-image {
  background-image: url('../images/icenter.png'); /* Replace with your image */
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

}

.header-image h1 {
  margin: 0;
  line-height: 0.9;
    font-size: 3.5em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background: #00000055;
}

.content-box {
  background-color: white;
  margin: 30px auto;
  width: 90%;
  max-width: 900px;
  padding: 40px;
  box-shadow: 5px 5px 0px black;
  min-height: 400px;
}

table {
  width: 60%;
  border-collapse: collapse;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  text-align: center;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
}

th {
  background-color: #34334F;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #d6e0f0;

}

form {
  display: table;
  border: 2px solid #333;
  padding: 10px;
  border-radius: 10px;
  background-color: #f2f2f2;
  margin: 0 auto;
}

label, input {
  display: table-cell;
  padding: 8px;
}

label {
  text-align: right;
  font-weight: bold;
}

.row {
  display: table-row;
}

input[type="submit"] {
  display: block;
  margin: 10px auto 0;
  padding: 8px 16px;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #555;
}